
@media screen and (min-width: 200px) and (max-width: 767px){

    #logo{
        width: 3.3em;
        margin-left: 45%;
    }

    #menu > ul > li{
        display: none;
        font-size: 0.9em;
        margin: 10px;
    }

    main{
        padding: 10px;
    }

    #content{
       padding: 10px;
    }

    #content > form{
        margin: auto;
    }
    
    #content > h1{
        font-size: 1.9em;
    }

    #content > p{
        font-size: 1em;
    }

    form > input[type=submit]{
        width: 100%;
        justify-content: center;
        margin-top: 30px;
    }
    
    #page{
        left: 7%;
        top: 3%;
        width: 85vw;
        height: 95vh;
    }

    #page > #image{
        width: 100%;
        height: 48%;
        margin-bottom: 40px;
        border-radius: 10px 10px 0px 0px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){

    #logo{
        width: 3.5em;
    }

    #menu > ul{
        margin-right: 0px;
    }

    #menu > ul > li{
        font-size: 0.9em;
    }

    #page{
        position: absolute;
        left: 2%;
        top: 15%;
        float: right;
        width: 96%;
        height: 48%;
    }

    #page > #image{
        width: 50%;
        height: 100%;
    }

    #content{
        margin-top: 50px;
    }

   

    #content > h1{
        font-size: 2.5em;
        margin: 0px;
    }

    #content > p{
        font-size: 1em;
        margin-top: 10px;
        margin-left: 0px;
    }

    form > input[type=submit]{
        width: 50%;
        justify-content: center;
        margin-top: 40px;
    }
}