@media screen and (min-width: 300px) and (max-width: 768px){
    
    #content > h1{
        font-size: 2em;
    }
    
    #page{
        width: 400px;
        height: 700px;
    }

    #page > #image{
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 300px;
    }
}